---
layout: page
title: "About"
description: "Hey, this is Walken."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>写写代码，做做设计，看看世界。<br>
    人生不止眼前的苟且，还有远方的风景。</p></blockquote>

    <p>Hey，我是<strong>殷华杰</strong>，后端程序员 &amp; 分布式系统设计师，<a href="http://www.nwpu.edu.cn/">西北工业大学</a> · 计算机科学与技术 本科生2010级 · 软件工程 研究生2013级。目前任职于上海 · 615，负责UAV地面站分布式系统</a>。</p>

    <p>一些作品和开源项目，👉 戳 <a href="/portfolio">Portfolio</a> 与 <a href="http://yhj167.github.io">Github</a>。</p>

    <h5>Resumes</h5>

    <ul>
    <li><a href="/attach/2016_Yinhj_DEV_cn.pdf">2016_Yinhj_DEV_cn</a></li>
    </ul>
    
    <h5>Talks</h5>
    
    <ul>
    </ul>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Good company on the road is the shortest cut. <br>
    The secret of success is constancy of purpose.</p></blockquote>

    <p>Hi, I am <strong>Yin Huajie(殷华杰)</strong>，you can call me <strong>Walken</strong>. I'm a back-end engineer &amp; a Distributed Architecture designer and more (<a href="/portfolio">Portfolio 👉</a> and <a href="http://github.com/yhj167">Github 👉</a>). I studied Software Engineering and graduated from <a href="http://www.nwpu.edu.cn">Northwestern Polytechnical University</a> in 2013.</p>

    <p>As an engineer, I work at ShangHai 615 as the dev of Distributed System Team.</p>
    
    
    <h5>Resumes</h5>
    
    <ul>
        <li><a href="/attach/2016_Yinhj_DEV_cn.pdf">2016_Yinhj_DEV_cn</a></li>
    </ul>
    
    <h5>Talks</h5>
    
    <ul>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
